<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>species</key>
		<string>头条</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SYLB10,SYDT10,SYRECOMMEND</string>
	</dict>
	<dict>
		<key>species</key>
		<string>财经</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=CJ33,FOCUSCJ33,HNCJ33</string>
	</dict>
	<dict>
		<key>species</key>
		<string>时政</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SZPD,FOCUSSZPD&amp;page=3</string>
	</dict>
	<dict>
		<key>species</key>
		<string>娱乐</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=YL53,FOCUSYL53&amp;page=1</string>
	</dict>
	<dict>
		<key>species</key>
		<string>汽车</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=QC45,FOCUSQC45&amp;page=1</string>
	</dict>
	<dict>
		<key>species</key>
		<string>科技</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=KJ123,FOCUSKJ123</string>
	</dict>
	<dict>
		<key>species</key>
		<string>段子</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=DZPD,FOCUSDZPD&amp;page=1&amp;gv=5.2.0&amp;av=5.2.0&amp;uid=86665402460993</string>
	</dict>
	<dict>
		<key>species</key>
		<string>文化</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=WH25,FOCUSWH25</string>
	</dict>
	<dict>
		<key>species</key>
		<string>宗教</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=FJ31,FOCUSFJ31</string>
	</dict>
	<dict>
		<key>species</key>
		<string>青年</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=QN39,FOCUSQN39&amp;page=1</string>
	</dict>
	<dict>
		<key>species</key>
		<string>公益</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=GYPD,FOCUSGYPD&amp;page=2&amp;gv=5.2.3&amp;av=5.2.3&amp;uid=862808020397066</string>
	</dict>
</array>
</plist>
